.loginBlock {
  background-image: url("@/assets/img/webp/login_main.webp");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  &--mask {
    background: rgba(35, 35, 35, 0.481);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 10;
  }
  &--wrap {
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 20;
    @media screen and (max-width: 992px) {
      width: 100%;
    }
  }
  &--logo {
    margin-right: 80px;
    @media screen and (max-width: 992px) {
      width: 100%;
      margin-right: 0;
      background: $Info-900;
      text-align: center;
    }
    img {
      width: 233px;
      height: 71px;
      @media screen and (max-width: 992px) {
        height: 46px;
      }
    }
  }
  &--panel {
    width: 440px;
    min-width: 440px;
    height: 542px;
    @media screen and (max-width: 992px) {
      width: 100%;
      height: 100vh;
      border-radius: 0px;
    }
  }
}
